 body {
	background-color: #545349;
	color: black;
}
 :link {
	color: #840000;
	background-color : transparent;
}
 :visited {
	color: #590000;
	background-color : transparent;
}
 :active {
	color: Red;
	background-color : transparent;
}
td {
	font-family: helvetica,arial,sans-serif;
	color : red;
}
TD.main {
	background-color : #C8A46E;
	width : 420px;
	color : black;
}
TD.date {
	width : 100px;
	font-family: helvetica,arial,sans-serif;
	color : white;
	vertical-align : top;
	text-align : center;
	font-size : smaller;
}
TD.text {
	background-color : #c1c0b5;
	width : 300px;
	color : Black;
	text-align : center;
	vertical-align : middle;
}
TD.pic {
	background-color : #000000;
	width : 100px;
	color : white;
	text-align : center;
	vertical-align : middle;
}