  body {
	background-color: #4b4b4b;
	color: White;
	background-image : url(images/bg.gif);
}
 :link {
	color:  #d6ccab;
	background-color : transparent;
}
 :visited {
	color: #989c74;
	background-color : transparent;
}
 :active {
	color: #9999cc;
	background-color : transparent;
}
td {
	font-family: helvetica,arial,sans-serif;
	vertical-align : top;
	color : White;
}
td.main {
	background-color : #212121;
	color : White;
	width : 420px;
}
h3 {
	text-align : center;
}
div.caption {
	font-size : 75%;
	text-align : center;
	color : #cccccc;
}
div.im_l {
	font-size : 75%;
	text-align : center;
	color : #cccccc;
	float : left;
}
div.im_r {
	font-size : 75%;
	text-align : center;
	color : #cccccc;
	float : right;
}