 body {
	background-color: #6d7692;
	color: Black;
	background-image : url(images/bg_cir.gif);
}
 :link {
	color: #840000;
	background-color : transparent;
}
 :visited {
	color: #590000;
	background-color : transparent;
}
 :active {
	color: Red;
	background-color : transparent;
}
td {
	font-family: helvetica,arial,sans-serif;
	color : Black;
}
td.main {
	background-color : #c4c7d0;
	width : 420px;
	color : Black;
}
div.caption {
	font-size : 75%;
	text-align : center;
	color : #666666;
}