 body {
	background-color: #545349;
	color: black;
}
 :link {
	color:  #d6ccab;
	background-color : transparent;
}
 :visited {
	color: #989c74;
	background-color : transparent;
}
 :active {
	color: #9999cc;
	background-color : transparent;
}
td {
	font-family: helvetica,arial,sans-serif;
}
td.main {
	background-color : #c1c0b5;
	width : 420px;
	color : Black;
}
h3 {
	text-align : center;
}
td.white {
	background-color : #545349;
	width : 420px;
	color : White;
}
