 body {
	background-color: #b3ccbd;
	color: black;
}
 :link {
	color: #840000;
	background-color : transparent;
}
 :visited {
	color: #590000;
	background-color : transparent;
}
 :active {
	color: Red;
	background-color : transparent;
}
td {
	font-family: helvetica,arial,sans-serif;
	width : 380px;
	color : Black;
}
h3 {
	text-align : center;
}
