  body {
	background-image: url(images/bg.gif);
	background-color: #b9b0a5;
	color: black;
}
 :link {
	color: #840000;
	background-color : transparent;
}
 :visited {
	color: #590000;
	background-color : transparent;
}
 :active {
	color: Red;
	background-color : transparent;
}
td {
	font-family: helvetica,arial,sans-serif;
	vertical-align : top;
}
td.main {
	background-color : #d6d0c9;
	color : Black;
	width : 420px;
}
div.caption {
	font-size : 75%;
	text-align : center;
	color : #666666;
}
div.im_l {
	font-size : 75%;
	text-align : center;
	color : #666666;
	float : left;
}
div.im_r {
	font-size : 75%;
	text-align : center;
	color : #666666;
	float : right;
}