  body {
	background-color: #6d7692;
	color: White;
	background-image : url(../images/bg_cir.gif);
}
 :link {
	color: #b0a993;
	background-color : transparent;
}
 :visited {
	color: #928b74;
	background-color : transparent;
}
 :active {
	color: #dcba4f;
	background-color : transparent;
}
td {
	font-family: helvetica,arial,sans-serif;
	vertical-align : top;
	width : 420px;
	color: White;
}