  body {
	background-color: #F5F5F5;
	color: black;
}
 :link {
	color: #4288BD;
	background-color : transparent;
}
 :visited {
	color: #Gray;
	background-color : transparent;
}
 :active {
	color: #Navy;
	background-color : transparent;
}

td {
	font-family: arial, helvetica,sans-serif;
	vertical-align : top;
	font-size: smaller;
}

DIV.copy {
	color : #666666;
	font-size : x-small;
	background-color : transparent;

}