 body {
	background-color: #d6d0c9;
	color: black;
	font-family : Arial, Helvetica, sans-serif;
}
 :link {
	color: #666052;
	background-color : transparent;
}
 :visited {
	color: #998974;
	background-color : transparent;
}
 :active {
	color: #d1bba0;
	background-color : transparent;
}
DIV.caption {
	font-size : 75%;
	text-align : center;
	color : Gray;
}
TD {
	font-family : Arial, Helvetica, sans-serif;
	vertical-align : top;
}
